@media (max-width:991px) {
  ul.nav.nav-tabs li {
    width:33%;
  }
}

@media (min-width:1024px) {
  ul.nav.nav-tabs li {
    width:100%;
  }
}

@media (max-width:991px) {
  .navi li {
    width:30%;
  }
}

.navi li a {
  width:100%;
}

@media (min-width:1024px) {
  .navi li {
    width:100%;
  }
}

.navi {
}

@media (min-width:1024px) {
  .navmain {
    height:100vh;
  }
}

